/AuditWindowsService/CompiledPolicy
/AuditWindowsService/Package
/AuditWindowsService/PolicyDefinitions

/AuditLinuxCronjob/CompiledPolicy
/AuditLinuxCronjob/Package
/AuditLinuxCronjob/PolicyDefinitions